# Env
.env
.env.*
!.env.example

# Build / cache
build
coverage
.cache
.vite
.next
out

# Logs extras
*.pid
*.seed
*.pid.lock

# OS
Thumbs.db

# TypeScript
*.tsbuildinfo

# Test
jest-cache
jest.config.tsbuildinfo

# Package managers
.pnpm-store
.npm

# Misc
*.tgz