.layout {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.sidebarWrapper {
  flex-shrink: 0;
}

.main {
  flex: 1;
  display: flex;
  overflow: hidden;
  min-width: 0;
}

@media (max-width: 640px) {
  .hideMobile {
    display: none;
  }

  .sidebarWrapper {
    width: 100%;
  }

  .main {
    width: 100%;
  }
}
